html, body {
	background: $gray-100;
}

.main {
	padding-top: $spacer * 1.5;
	padding-bottom: $spacer * 4;
}

.sidenav {
	flex: 0 0 8rem;

	.nav {
		.nav-link {
			color: $body-color;
			flex: 0 0 100%;
			margin-bottom: $spacer * .5;
			padding: 0;
		}
	}
}

.panel {
	background: #fff;
	border: $border-width solid $border-color;
	border-radius: $border-radius;

	@media (max-width: map-get($grid-breakpoints, "sm") - 1) {
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		margin-left: -$grid-gutter-width * .5;
		margin-right: -$grid-gutter-width * .5;
	}
}

.panel__row {
	border-bottom: $border-width solid $border-color;
	padding: $spacer * .5 $spacer;

	&--link {
		@extend .panel__row;
		color: $body-color; 
		display: block;

		&:hover {
			background: $gray-200;
			color: $body-color; 
		}
	}

	&:last-child {
		border-bottom: 0;
	}
}

