html, body {
  background: $white;
}

::placeholder {
  color: $gray-800;
}

.app-bar {
  background: #fff;
  display: flex;
  padding: $spacer;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  #search {
    border-radius: 2rem;
    flex: 1 1 auto;
    margin: 0 .675rem;

    input {
      background: $gray-200;
      border: 0;
      border-radius: 2rem;
      padding: 0 1rem;
      height: 100%;
      width: 100%;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 4px rgba(0, 132, 233, .5);
      }
    }
  }
}

.app-shell {
  padding-top: 4.5rem;
}

.nav-button {
  background: transparent;
  border: 0;
  border-radius: 50%;
  display: block;
  height: 2.5rem;
  padding: .675rem;
  width: 2.5rem;

  &:hover {
    background: $gray-200;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 132, 233, .5);
    z-index: 1;
  }

  .button-icon {
    display: block;
    fill: $gray-600;
    width: 100%;
    height: 100%;

    &.black {
      fill: $black;
    }
  }

  &.logo {
    padding: .5rem;

    .button-icon {
      fill: initial;
    }
  }

  &.toggle {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.nav-link {
  background: transparent;
  border-radius: 2rem;
  display: inline-block;
  font-weight: 900;
  line-height: 2.5rem;
  padding: 0 .825rem;

  &:hover {
    background: $gray-200;
    text-decoration: none;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 132, 233, .5);
    z-index: 1;
  }

  &.active {
    background: $black;
    color: #fff;
  }
}

.masonry-grid {
  display: grid;
  justify-content: center;
  padding: 0 $spacer;

  @include media-breakpoint-down(xs) {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

.project-dashboard {
  .project-title {
    font-weight: 900;
    line-height: 1;
    margin: 0;
    padding: 1rem;
    text-align: center;
  }

  .project-actions {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
}

.project-item {
  display: block;
  font-size: .8rem;
  margin: 0 0 2 * $spacer;

  &:hover {
    text-decoration: none;
  }

  .project-item-image {
    border-radius: 1rem;
    margin-bottom: .5 * $spacer;
    width: 100%;
  }

  .project-item-text {
    margin: 0 .5 * $spacer;
    position: relative;

    .project-item-name {
      font-size: 1rem;
      margin-bottom: 0;
    }

    .project-item-status {
      position: absolute;
      height: 1rem;
      width: 1rem;
      background: grey;
      right: 0;
      top: 0;
      border-radius: 50%;
    }

    .project-item-budget {
      margin: 0;
    }
  }
}

.shop-dashboard {
  .shop-title {
    font-weight: 900;
    line-height: 1;
    margin: 0;
    padding: 1rem;
    text-align: center;
  }

  .shop-actions {
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: relative;
  }
}

.shop-item {
  display: block;
  font-size: .8rem;
  margin: 0 0 2 * $spacer;

  &:hover {
    text-decoration: none;
  }

  .shop-item-image {
    border-radius: 1rem;
    margin-bottom: .5 * $spacer;
    width: 100%;
  }

  .shop-item-text {
    margin: 0 .5 * $spacer;
    position: relative;

    .shop-item-price {
      font-size: .9rem;
      font-weight: 700;
    }

    .shop-item-name {
      font-size: 1rem;
      margin-bottom: 0;
    }

    .shop-item-supplier {
      margin: 0;
    }
  }
}
