html, body {
	background: $gray-100;
}

.main {
	padding-top: $spacer * 1.5;
	padding-bottom: $spacer * 4;
}

.sidenav {
	flex: 0 0 8rem;

	.nav {
		.nav-link {
			border-top-right-radius: $spacer;
			border-bottom-right-radius: $spacer;
			color: $body-color;
			margin: 0 (-$spacer);
			padding: $spacer * .25 $spacer;

			&.active {
				background: $gray-200;
			}
		}
	}
}

.nav-tabs {
	border-bottom-width: 2px;

	.nav-item {
		margin-bottom: -2px;
	}

	.nav-link {
		border: 0;
		color: $gray-600;
		padding: $spacer * .5 0;
		margin-right: $spacer * 2;

		&.active {
			background-color: transparent;
			border-bottom: 2px solid $black;
			color: $black;
		}
	}
}

.panel {
	background: #fff;
	border: $border-width solid $border-color;
	border-radius: $border-radius;

	@media (max-width: map-get($grid-breakpoints, "sm") - 1) {
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		margin-left: -$grid-gutter-width * .5;
		margin-right: -$grid-gutter-width * .5;
	}
}

.panel__row {
	border-bottom: $border-width solid $border-color;
	padding: $spacer * .5 $spacer;

	&--link {
		@extend .panel__row;
		color: $body-color; 
		display: block;

		&:hover {
			background: $gray-200;
			color: $body-color; 
		}
	}

	&:last-child {
		border-bottom: 0;
	}
}

